
body {
    background-color: rgba(0, 0, 0, 0.50);
    background-image: url('img/fondoRegistro.png');
    background-size: cover;        /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
    background-blend-mode: multiply;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.form-container {
    background: rgb(187, 182, 182);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bbb;
    margin-top: 5px;
}



.btn {
    padding: 10px 25px;
    background: #64d8cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(2, 49, 4);
    position: relative;
    text-align: center;
     display: inline-block;
    margin: 0 10px;

}
.botones{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
}
.btn:hover {
    background: #4bb7ac;
}

